/* Styles for the Create Post Page */

.createPostPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Styling the container for the Create Post Page content */
  .cpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white;
  }

  /* Styling for rows */
  .row {
    display: flex;
  }

  /* Styling for columns */
  .col {
    flex: 50%;
  }
 
  /* Title styling */
  .cpContainer h1 {
    color: #164863 !important;
    text-align: center;
  }

  /* Styling for images  */
  .icons {
    margin-bottom: 40px;
  }

  .icons img {
    width: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  /* Styling for input fields */
  .input {
    color: black;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  
  .input label {
    margin-bottom: 10px;
  }
  
 
  .input input, .input textarea {
    color: black;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    width: 100%;
  }

  /* Styling for labels */
  .label-class {
    color: #164863;
    font-size: 20px;
    margin-top: 5px;
  }
  
  .input textarea {
    height: 300px;
    padding: 10px;
    border: 10px;
   
  }
  
  /* Styling for buttons */
  button {
    padding: 10px 20px;
    background-color: #427D9D;
    color: #DDF2FD;
    border: 1px solid #ccc;
    border-radius: 7px;
    cursor: pointer;
    width: 150px;
    align-items: center;
   
  }
  
  button:hover {
    background-color: #164863;
  }
  
  label {
    color: black; 
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    font-weight: bold; 
 
}

  #description {
    height: 200px;
  
  }
  

/* Dropdown styling */
.workoutType {
  color: black;
}
.input select {
  padding: 10px;
  font-size: 18px;
  color: black; 
  border: 2px solid #ffffff;
  border-radius: 10px;
  width: 100%;
}

.input select option {
  padding: 10px;
  color: black; 
  font-family: Arial, sans-serif; 
}



/* Styling for Container for buttons */
.cancel-actions {
  display: flex; 
  justify-content: space-between; 
  margin-top: 20px; 
}

.cancel-actions button {
  
  width: 150px;
  align-items: center;
}

.cancel-actions button:hover {
  background-color: #164863;
}

h1{
  color: black;
}