body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Set the height of the body to the viewport height */
}

.avatar {
  padding: 10px;
  position: relative;
  width: 145px;
  height: 145px; /* Adjust the height to maintain a perfect circle */
  border-radius: 90%;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  overflow: hidden; /* Ensure content does not protrude beyond the circular border */
margin-top: 15px;
}

.avatar img {
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.flex-container {
  display: flex;
  justify-content: space-around;

}

.flex-container > div {
  background-color: #164863;
  margin: 10px;
  margin-left: 50px;
  padding: 20px;
  font-size: 30px;
}

.profile_box {
  background-color: #164863;
  overflow: auto;
  padding: 40px;
  height: 500px;
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0.5em 1em rgba(0.2, 0.2, 0.2, 0.2);
}


.item {
  width: 100%; /* Set the width to 100% */
  color: white;
  padding: 10px;
  font-size: 14px;
  align-items: center;
}

.user-email { 
  width: 100%;
  height: 30px;
  text-align: left;
  padding: 4px;
  background-color: white;
  color: #164863;
  border-radius: 4%;
  margin-bottom: 5px;
}

.user-bio {
  width: 100%;
  height: 60px;
  text-align: left;
  padding: 4px;
  background-color: white;
  color: #164863;
  border-radius: 4%;
}

.item2{
  font-size: 14px;
  color: white;
  margin-left:45px;
  margin-top:10px;
}


.info_box {
  background-color: #164863;
  padding: 20px;
  height: 500px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  border-radius: 5px; 
  box-shadow: 0 0.5em 1em rgba(0.2, 0.2, 0.2, 0.2);
}

.info_box h4 {
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  color: black; 
  font-size: 14px; 
}

.larger-input {
  height: 100px;
}

.pass-input-field{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  color: black; 
  font-size: 14px; 
}

.bio-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bio-section>h4{
  color: white;
}

.bottom-left-button {
  align-self: flex-start;
  margin-top: auto;
  margin-left: 0;
  font-size: 14px;
}
.buttons {
  flex-direction: row;
  align-self: flex-start;
  margin-top: auto;
  margin-left: 0;
  font-size: 14px;
  margin: 5px;
}

.font-header{
  font-family: "Nunito", sans-serif;
  font-size: 25px;
}
.font{
  margin-top: 15px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}

.ResetPassword {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about_me-actions {
  margin-top: 20px; 
}
