.button {
  border: none;
  border-radius: 10px;
  background-color: rgb(70, 70, 70);
  color: white;
  padding: 5px 10px;
  font-size: 12pt;
}

.button:hover {
  background-color: rgb(19, 19, 19);
  cursor: pointer;
}

.light {
  background-color: white;
  color: black;
}

.light:hover {
  background-color: gray;
}
