.card {
  /* text and color  */
  text-align: left;
  background-color: #164863;
  color: white;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);

  /* position and shape */
  width: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 1em 1em;
  border-radius: 20px;
}

.heading {
  display: flex;
  align-items: center;
  padding-bottom: 0.25em;
  line-height: 1.25;
}

.title {
  font-size: 14pt;
  font-weight: bold;
}

.author {
  font-size: 12pt;
  font-weight: bold;
  filter: brightness(80%);
}

.date {
  font-size: 12pt;
  font-style: italic;
  filter: brightness(80%);
  margin: 0em 0.5em;
}

.workoutType {
  font-size: 12pt;
  margin: 0.5em 0.5em;
}

.content {
  font-size: 12pt;
  margin: 0.5em 0.5em;
}

.interaction {
  margin-top: 0.5em 0em;
}

.like {
  font-size: 16pt;
  background-color: transparent;
}

.comment {
  font-size: 12pt;
  background-color: transparent;
}

.buttonLike{
  font-size: 16pt;
  background-color: transparent;
  border-color: transparent;
  padding: 2px;
  width: 8%;
}

.buttonComment{
  font-size: 16pt;
  background-color: transparent;
  border-color: transparent;
  padding: 2px;
  width: 5%;
}

.img{
  border-radius: 90%;
  width: 60px;
  height: 60px;

}
.workoutType{
  color: white !important;
}
.tag {
  /* add stuff in here to make this look like a tag?*/
}
.tag span {
  display: inline;
}

.comments {
  /* text and color */
  text-align: left;
  background-color: rgb(47, 93, 117);
  color: white;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);

  /* position and shape */
  width: 76%;
  padding: 1em 1em;
  border-radius: 0 0 20px 20px; /* top-left: 0px, top-right: 0px, bottom-right: 20, bottom-left: 20 */
  margin: 0 auto; /* Centers the div horizontally */
}

.textarea {
  color: black;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  width: 100%;

  height: 300px;
  padding: 10px;
  border: 10px;
}

.input {
  color: black;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}